<div data-theme="corporate">
    <div class="shadow-xl card card-side bg-base-100">
    <figure><img src="https://placeimg.com/200/280/arch" alt="Movie"></figure>
    <div class="card-body">
      <h2 class="card-title">New movie is released!</h2>
      <p>Click the button to watch on Jetflix app.</p>
      <div class="justify-end card-actions">
        <button class="btn btn-primary">Watch</button>
      </div>
    </div>
  </div>
</div>
